.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  top: 30%;
  left: 50%;
  
  transform: translate(-50%, -50%);
  
  width: 50vw;
  padding: 20px;
  background-color: #f2f2f2;
  color: #000;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.3s ease-in-out;
  
  display: flex;
  flex-direction: column;
  gap: 10px;
  
  .bold {
    font-weight: bold;
  }
  
  input, select{
    padding: 5px 10px;
    font-size: medium;
  }
  
  .actions{
    display: flex;
    gap: 10px;
    justify-content: center;
    
    button{
      font-size: medium;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
      background-color: #fff;
      color: #771f08;
      border: 1px solid #771f08;
      transition-duration: 0.5s;
    }
    
    button:hover{
      background-color: #771f08;
      color: #fff;  
    }
  }

  .totalAmount {
    display: flex;
    justify-content: space-between;
  }

  .btns {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }
}